apiVersion: v1
data:
  config.json: |
    {
      "mysql": {
        "host": "mysql",
        "user": "root",
        "password": ""
      },
      "azure": {
        "account": "",
        "accountKey": "",
        "containerName": "backup"
      }
    }
kind: ConfigMap
metadata:
  name: mysql-backup-to-azure-cm
